*{
    font-family: 'Rubik', sans-serif;
}

.light{
    --shadow: 0px 2px 5px rgba(51, 51, 51, 0.16);
    --hover-shadow2: 0px 0px 4px -1px #FFE4E6;
    --hover-shadow: 0px 2px 5px rgba(100, 80, 80, 0.5);
    /* --focus-shadow: 0px 0px 2px 5px rgba(250, 110, 110, 0.5); */
    --focus-shadow: 0px 0px 13px 0px rgb(134 100 100 / 54%);
    --text-hover-shadow: 0px 2px 5px rgba(100, 80, 80, 0.5);
    --bg-top: #F1F1F1;
    --text-dark: #191919;
    --text-light: #333333;
    --link: #00B2FF;
    --link-hover: #006F9E;
}

body{
    background: linear-gradient(0deg, rgba(255, 159, 159, 0.03), rgba(255, 159, 159, 0.04)), #FFFFFF;
    /* background-color: #646464; */
    color: var(--text-dark)
}

.btn{
    padding: 5px 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-top);
    box-shadow: var(--shadow);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: var(--hover-shadow);
}

.btn-cta{
    background-color: var(--link);
    color: var(--bg-top);
    outline: initial;
}

.inpt{
    border: none;
    border-radius: 5px;
    font-size: 100%;
    box-shadow: var(--shadow);
    padding: 7px 10px;
    background-color: var(--bg-top);
    outline: none;
}
.inpt:hover{
    box-shadow: var(--hover-shadow);
}
.inpt:focus{
    box-shadow: var(--focus-shadow);
}

.lighter{
    background-color: #FFFFFF;
}


.slct{
    border: none;
    font-size: 100%;
    padding: 4px 10px;
    border-radius: 5px;
    background: var(--bg-top);
    box-shadow: var(--shadow);
    min-width: 50px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}
.slct option{
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: var(--text-dark);
}
.link-blue{
    color: var(--link);
}

.link:hover, .link-blue:hover{
    transform: scale(1.05);
    color: var(--link);
    text-shadow: var(--text-hover-shadow);
    font-weight: 600;
}

.not-link{
    text-decoration: none;
    color: var(--text-dark);
}

.card-top{
    background-color: var(--bg-top);
    border-radius: 10px;
}

.arrow-container{
    max-width: 30px;
}

.arrow{
    max-width: 30px;
    max-height: 30px;
}

.chip{
    background: var(--bg-top-darker);
    padding: 3px 14px;
    border-radius: 9px;
    font-size: 103%;
    margin: 2px;
}